
body {
	margin: 0;
	padding: 0;
}

header {
	border-bottom: 1px solid black;
	background-color: white;
	position: fixed;
	top: 0;
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	width: 100%;
}

.logo_title {
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: center;
}

.logo {
	border-right: 1px solid mediumaquamarine;
	display: inline;
}

.title span {
	color: mediumaquamarine;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
}

nav {
	display: inline-flex;
	margin: 30px;
	padding: 0px;
}

ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	list-style: none;
	margin: 0px;
	padding: 10px;
}

nav li a {
	margin: 30px;
	color: black;
	font-weight: bold;
}

.main_container {
	margin-top: 100px;
}
